.main-nav {
    background-color: #111111;
    /* height: 70px; */
    display: grid;
    grid-template-columns: min(350px) 1fr min(350px);
}

h1 {
    margin: 0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: #fff;
}

ul {
    color: #fff;
    margin: 0;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: red;
    background-image: url("3\ Michael\ J/Queen.jpg");
    height: 1080px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 

    font-size: 100px;
    font-family: sans-serif;
    color: white;

    h2 {
        z-index: 999;
    }
}



header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 500px;
    background-color: rgba(255, 0, 0, 0.5);
    /* background-image: linear-gradient( black 20%, rgba(255, 255, 255, 0.216)); */
    /* left: 100px; */
    top: 50%;
    translate: 0 -50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}