img {
    max-width: 100%;
}

.main-nav {
    background-color: #111111;
    /* height: 70px; */
    display: grid;
    grid-template-columns: min(350px) 1fr min(350px);
}

h1 {
    margin: 0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: #fff;
}

ul {
    color: #fff;
    margin: 0;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: red;
    background-image: url("3\ Michael\ J/Queen.jpg");
    height: 1080px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 

    font-size: 100px;
    font-family: sans-serif;
    color: white;

    h2 {
        z-index: 999;
    }
}

body {
    margin: 0;
}

header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: linear-gradient( black 20%, rgba(255, 255, 255, 0.216)); */
    /* left: 100px; */
    top: 50%;
    translate: 0 -50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    grid-auto-flow: dense;



    div {
        /* background-image: linear-gradient(45deg, white, black); */
        background-color: black;


    }


}

main h1, p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center;
    margin: 0; */
    
}

main div:nth-of-type(4n) {
        /* border: 3px solid green; */
        grid-column: 1;
    }
main div:nth-of-type(4n -1) {
        /* border: 3px solid yellow; */
        grid-column: 2;
    }

    /* .x {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .y {
        grid-column: 1 / -1;
        grid-row: 4;
    } */

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    text-align: center;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.x {
    position: relative;
}

.x::after{
    /* background-color: red; */
    position: absolute;
    content: '';
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: linear-gradient( black 20%, rgba(255, 255, 255, 0.216)); */
    /* left: 100px; */
    top: 50%;
    translate: 0 -50%;
    left: 0;
    
}

.x div{
    position:absolute;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    text-align: center;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}
